{
  "presets": [
    [
      "@babel/preset-2015",
      {
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@": "./dist",
          "@utils": "./dist/utils"
        }
      }
    ]
  ]
}
